{% extends 'base.html' %}

{% load i18n %}
{% load crispy_forms_tags %}

{% block content %}

  <h1>{% translate "Tasks" %}</h1>
  <a href="{% url 'create_task' %}" class="nav-link">{% translate "Create task" %}</a>

  <div class="bg-light row justify-content-center align-items-center my-3 py-2">
    <form class="form-inline center" method="get">

      <div class="form-group">
        <label for="id_status">{% translate "Status" %}</label>
        <div class="mr-3 ml-2">
        {{ filter.form.status }}
        </div>
      </div>

      <div class="form-group">
        <label for="id_executor">{% translate "Executor" %}</label>
        <div class="mr-3 ml-2">
        {{ filter.form.executor }}
        </div>
      </div>

      <div class="form-group">
        <label for="id_labels">{% translate "Label" %}</label>
        <div class="mr-3 ml-2">
        {{ filter.form.labels }}
        </div>
      </div>

      <div class="form-group">
        <div class="mr-3">
          <div class="form-check">
            {% if request.GET.self_tasks %}
              <input id="id_self_tasks" class="form-check-input form-control is-valid" type="checkbox" name="self_tasks" checked="">
            {% elif 'status' in request.GET %}
              <input id="id_self_tasks" class="form-check-input form-control is-valid" type="checkbox" name="self_tasks">
            {% else %}
              <input id="id_self_tasks" class="form-check-input" type="checkbox" name="self_tasks">
            {% endif%}
            <label class="form-check-label" for="id_self_tasks">
              {% translate "Only self tasks" %}
            </label>
          </div>
        </div>
      </div>

      <div class="form-group">
        <input class="btn btn-primary" type="submit" value="{% translate 'Show' %}">
      </div>
    </form>
  </div>

  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">{% translate "Name" %}</th>
        <th scope="col">{% translate "Status" %}</th>
        <th scope="col">{% translate "Author" %}</th>
        <th scope="col">{% translate "Executor" %}</th>
        <th scope="col">{% translate "Created date" %}</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      {% for task in tasks_list %}
        <tr>
          <td>{{ task.id }}</td>
          <td>{{ task.name }}</td>
          <td>{{ task.status }}</td>
          <td>{{ task.author }}</td>
          <td>{{ task.executor }}</td>
          <td>{{ task.created_at|date:"d.m.Y" }}<br>{{ task.created_at|time:"H:i" }}</td>
          <td>
            <a href="{% url 'update_task' task.id %}">{% translate "Update" %}</a><br>
            <a href="{% url 'delete_task' task.id %}">{% translate "Delete" %}</a>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>

{% endblock content %}